/* -------CSS de Chat WhatsApp -------*/
.whatsapp {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    padding: 1px;
  }
  
  .boton-whatsapp {
    width: 10px;
  }