/* ********* DISEÑO HEADER  ********* */

  .header {
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 2px 2px 2px 2px;
    z-index: 10;
    height: 150px;
    order: 1;
  }