/***** MEDIA QUERY - 600PX *****/


@media screen and (max-width: 600px) {

 
/* ------------ COMIENZO FORMULARIO ------------ */
    .h3_prueba {
        margin-top: 10px;
        color: #ffffffe3;
        font-family: "Poppins", Sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.7em;
        letter-spacing: 5.5px;
        text-shadow: 9px -4px 6px #000000;
    }

    .h2_prueba {

        margin-top: 20px;
        color: #ffffffe3;
        font-family: "Poppins", Sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.7em;
        letter-spacing: 3.5px;
        text-shadow: 9px -4px 6px #000000;
    }

    .h1_prueba {
        margin-top: 33px;
        color: #72b9ffe3;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.7em;
        letter-spacing: 6.5px;
        text-shadow: 9px -4px 6px #000000;
    }

    .h2_ahora12 {
        color: #EAF32E;
        font-family: "Poppins", Sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.1em;
        letter-spacing: 10px;
        text-shadow: 9px 4px 6px rgba(0, 0, 0, 0.9);
    }

    .formulario {
        width: 80%;
        height: 80%;
        align-items: center;
        align-content: space-between;
        text-align: center;
        margin-left: 10%;
    }

    .form {
        display: block;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        width: 100%;
        height: 36rem;
        padding: 2% 2% 2% 2%;
        flex-direction: column;
        margin-left: 10%;
    }

    .botonEnviar {
        display: block;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        width: 200px;
        height: 49px;
        text-align: center;
        font-size: 15px;
        padding: 2px 2px 2px 2px;
        margin-left: 30%;
    }

    .formCajaDiseño {
        background-color: rgb(255, 255, 255);
        font-size: bold;
        color: black;
    }

    .formDiseñoComent {
        border: 2px solid rgb(10, 10, 10);
        background-color: rgb(255, 255, 255);
        height: 85px;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 5px 5px 5px;
        display: flexbox;
        text-align: center;
        border-radius: 10px;
    }

    .formDiseño {
        border: 2px solid rgb(10, 10, 10);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 60px;
        font-size: bold;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 5px 5px 5px;
        display: flexbox;
        text-align: center;
        margin-bottom: 30px;
        align-content: center;
    }

    /* ------------ FIN FORMULARIO ------------ */
    /* ********* PAGINA DE CONTACTO - TITULO ********* */

    .titulo_contacto {
        text-align: center;
        padding: 3px 3px 3px 3px;
    }

    .contacto__h1 {
        color: black;
    }

    /* ------- BOX CONTACTO (TEXTO + FORMULARIO) -------*/
    /* Contenedor de todo el bloque */

    .contactoFlexCaja {

        display: block;
        background-color: rgb(255, 255, 255);
        padding: 2%;
    }

    .contactoCaja1 {
        /*------- Contenedor del contenido principal------- */
        display: block;
        align-content: center;
        bottom: 34%;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
    }

    .contacto {
        /* -------Contenedor del texto Contacto------- */
        display: block;
        width: 100%;
        padding: 4rem;
        border: violet solid 1px;
        margin-bottom: 30px;
        border-radius: 15px;
    }

    /* ********* HIJOS CONTACTO ********* */
    .contacto__titulos {
        margin-bottom: 2rem;
        text-align: center;

    }

    .contacto__titulos1 {
        padding: 2px;
        color: blue;
        text-align: left;
        font-size: 19px;
    }

    .contacto__titulos2 {
        padding: 2px;
        color: rgb(218, 21, 21);
        text-align: left;
        font-size: 15px;
    }

    /* ********* NOSOTROS  ********* */
    .nosotrosFlex {
        display: block;
        background-color: rgb(255, 255, 255);
        padding: 1%;
        margin-top: 2px;
    }

    .nosotros__titulos {
        padding: 1px;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 15px;
    }

    .nosotros__titulos1 {
        padding: 15px;
        color: blue;
        text-align: center;
        margin-top: 2%;

    }

    .nosotros__titulos2 {
        padding: 80px;
        color: rgb(218, 21, 21);
        text-align: center;
        margin: 1%;
        font-size: 20px;
    }

    .nosotros--fondo1 {
        background-color: black;
        color: white;

    }

    .nosotros--fondo2 {
        background-color: rgb(55, 55, 55);
        color: white;
    }

    .imagNosotros {
        display: flex;
        width: 20%;
        height: 47%;
        margin-left: 40%;
        margin-bottom: 5%;
    }
    /* -------Comienzo Arma Tu PC - Logos -------*/
    .cajaFlexATPC {
        display: inline-block;
        /*   position: relative;
   */
    }
    .seccion {
        display: block;
        align-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        align-items: center;
        align-content: center;
        background-image: linear-gradient(to bottom, white, rgb(182, 182, 182));
    }
    .seccionPcAr {
        display: block;
        align-content: center;
        align-items: center;
        background-color: rgb(44, 44, 44);
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(182, 182, 182), white);
        align-items: center;
        align-content: center;
    }
    .seccion1 {
        background-color: rgb(255, 255, 255);
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(182, 182, 182), white);
        align-items: center;
        align-content: center;
    }
    .AmdIntel {
        display: block;
        flex-direction: column;
        align-items: center;
        position:relative;
        width: 550px;
        height: 550px;
        position: absolute;
    margin-bottom: 100px;
    }
    .AmdIntel__imagenAmd {
        background-color: white;
        color: black;
        border-radius: 16px;
        overflow: hidden;
        width: 450px;
        height: 450px;
        border: 4px solid black;
        display: block;
        
        
    }
    .imag--Produc {
        width: 500px;
        height: 500px;
        object-fit: cover;
        border-radius: 16px;
    }
/***********************
HEADER 
************************/
    .header {
        display: block;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.801);
        width: 100%;
        height: 450px;
    }
    header:target {
        height: 450;
    }
    /***********************
         GRID IMAGEN 
************************/
    .grid__imagen {
        width: 100%;
        height: 100%;
        padding: 15px 15px 15px 15px;
        object-fit: contain;
        background-color: white;
        padding: 1px 1px 1px 1px;
        border-radius: 15px;
    }

/***********************
        IMAGEN LOGO 
************************/
    .ImagenLogo {
        align-items: stretch;
        align-content: space-between;
        z-index: 10;
        padding: 18px 18px 18px 18px;
        margin: 0 auto;
        height: 100px;
    }

    /***********************
            BODY
************************/
    .fondoBodyDeg {
        width: 100%;
        background-image: radial-gradient(to top, rgb(197, 194, 194), rgb(122, 119, 119));
        font-size: 20px;
        left: 0%;
        right: 0;
        top: 0%;
        bottom: 0%;
        align-content: center;
        align-items: center;
    }

    .mainDiseño {
        display: block;
    }

    /***********************
     COMIENZO SECCION TIENDA
************************/
    .seccionTienda {
        display: block;
        align-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(250, 127, 5), white);
        align-items: center;
        align-content: center;
    }

    .Productdiv {
        background-color: white;
        color: black;
        border-radius: 16px;
        margin-right: 1%;
        margin-left: 1%;
        overflow: hidden;
        position: relative;
        width: 320px;
        height: 450px;
        margin-bottom: 30px;
        border: 2px solid black;
        display: inline-block;
        align-items: center;
        align-content: center;
        box-shadow: 2px 2px rgb(146, 146, 146), -13px 10px 10px rgb(91, 91, 91);
        order: 1;
    }

    .ProductdivTienda {
        background-color: white;
        color: black;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        width: 300px;
        height: 400px;
        margin-bottom: 30px;
        border: 4px solid black;
        display: inline-block;
        margin-left: 3%;
        align-items: center;
        align-content: center;
        margin-left: 12%;
        box-shadow: 2px 2px rgb(146, 146, 146), -13px 10px 10px rgb(91, 91, 91);
    }

    .productos__h1 {
        font-size: 1.7rem;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        color: rgba(0, 0, 0, 0.999);
        text-shadow: 1px 1px rgb(255, 255, 255), -5px 0 10px rgb(41, 41, 41);
    }

    .productos__precio {
        background-color: rgb(0, 0, 0);
        color: white;
        text-transform: uppercase;
        width: auto;
        display: inline-block;
        padding: 0.2rem 1rem;
        border-radius: 12px;
        position: absolute;
        left: 16px;
        bottom: 16px;
        margin: 4rem;
        right: 10px;
        text-align: center;
        text-decoration: none;
        border: 3px dotted black;
        font-size: 20px;
    }

    .productos__oferta {
        background-color: navy;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.4rem 0.5rem;
        border-radius: 2px;
        position: absolute;
        right: 10px;
        top: 0px;
        margin: 1rem;
    }

    .Botoncarrito {
        border-radius: 8px;
        text-align: center;
        background-color: rgb(0, 0, 0);
        margin-left: 25%;
        font-size: auto;
        color: rgb(208, 255, 0);
        text-decoration: none;
        position: relative;
        height: 35px;
        bottom: -76px;
        width: 150px;
        left: 0%;
        right: 0%;
        box-shadow: 2px 2px rgb(0, 0, 0), -2px 0 10px rgb(41, 41, 41);
    }

    .imagProduc {
        width: 100%;
        height: 37%;
        object-fit: contain;
        border-radius: 16px;
        left: 20%;
    }

    .productos__h2 {
        font-size: 22px;
        text-align: center;
        margin-top: 16px;
        margin-top: 64px;
        text-shadow: 1px 1px rgb(255, 255, 255), -5px 0 10px rgb(41, 41, 41);
    }

    .productos__parrafo {
        color: rgb(45, 45, 45);
        font-size: 1rem;
        text-align: center;
        text-shadow: 1px 1px rgb(255, 255, 255), -5px 0 10px rgb(41, 41, 41);
    }

    /***********************
        FIN SECCION TIENDA
  ************************/

    .seccion {
        display: block;
        align-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        width: 100%;
        align-items: center;
        align-content: center;
        background-image: linear-gradient(to bottom, white, rgb(182, 182, 182));
    }

    .seccionPcAr {
        display: block;
        align-content: center;
        align-items: center;
        background-color: rgb(44, 44, 44);
        padding: 1rem;
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(182, 182, 182), white);
        align-items: center;
        align-content: center;
    }

    .seccion1 {
        display: block;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(182, 182, 182), white);
        align-items: center;
        align-content: center;
    }

    .nav {
        display: none;
        width: 100%;
        color: #fff;
        padding: 0rem;
        margin-top: 0;
    }

    .nav__lista {
        display: none;
        margin-bottom: 50px;
        width: 100%;
        color: rgb(255, 255, 255);
        list-style: none;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
    }

    .nav__enlace {
        display: none;
        text-align: center;
        color: rgb(247, 241, 241);
        text-decoration: none;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
        border: rgb(255, 255, 255) solid 3px;
        border-radius: 31rem;
        padding: 5px;
        margin: 1rem;
        align-items: center;
        align-content: center;
    }

    .categoriasGrid {
        width: 100%;
        display: block;
        flex-direction: column;
    }

    /************************************
   BIENVENIDOS - SITIO FONDO PRINCIPAL 600PX
  *************************************/

    .tituloImagen {
        display: block;
        width: 100%;
        background-image: url(/imagenes/FondoPrincipal.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        background-attachment: fixed;
        height: 400px;
    }

    .bienvenido_h1 {
        display: block;
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 4px 15px 3px rgba(18, 18, 18, 0.501);
        text-transform: uppercase;
    }

    .titulo__h1 {
        font-size: 20px;
        bottom: 30px;
    }

    .productos__h1 {
        font-size: 17px;
    }

    .tituloImagen__bienvenido {
        display: block;
        width: 100%;
        height: 300px;
        flex-direction: column;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .gpuGrid {
        display: grid;
        padding: 1rem;
        min-height: 500px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px 350px;
        gap: 8px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;
        grid-template-areas:

            "ele1"
            "ele2"
            "ele3"
            "ele4"
            /*Fila 1*/
            "ele5"
            "ele6"
            "ele7"
            "ele8"
            /*Fila 2*/
        ;
    }

    .categoriasGrid {
        display: grid;
        padding: 1rem;
        min-height: 500px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px 350px;
        gap: 8px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;
        grid-template-areas:
            /*Fila 1*/
            "ele1"
            "ele2"
            /*Fila 2*/
            "ele3"
            "ele4"
            /*Fila 3*/
            "ele5"
            "ele6"
            /*Fila 4*/
            "ele7"
            "ele8"
            /*Fila 5*/
        ;

    }

    .ElectroGrid {
        display: grid;
        padding: 4rem;
        min-height: 500px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px 350px;
        gap: 8px;
        justify-items: FLEX-start;
        align-items: flex-start;
        justify-content: space-between;
        align-content: space-between;
        grid-template-areas:
            "ele1""ele2""ele3""ele4"
            /*Fila 1*/
            "ele5""ele6""ele7""ele8"
            /*Fila 2*/
        ;
    }

    .categoriaGrid {
        display: grid;
        padding: 1rem;
        min-height: 500px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px 350px;
        gap: 8px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;
        grid-template-areas:
            "ele1""ele2""ele3""ele4"
            /*Fila 1*/
            "ele5""ele6""ele7""ele8"
            /*Fila 2*/
        ;
    }

    /* ********* NOSOTROS 600 ********* */
    .nosotrosFlex {
        display: block;
        flex: column;
        background-color: rgb(255, 255, 255);
    }

    .nosotros__titulos {
        text-align: center;
        font-size: 15px;
    }

    .nosotros__titulos1 {
        color: blue;
        text-align: center;
        font-size: 15px;
    }

    .nosotros__titulos2 {
        color: rgb(218, 21, 21);
        text-align: center;
        font-size: 15px;
    }

    .nosotros--fondo1 {
        background-color: black;
        color: white;
    }

    .nosotros--fondo2 {
        background-color: rgb(55, 55, 55);
        color: white;
    }

    .imagNosotros {
        display: block;
        width: 20%;
        height: 47%;
        margin-bottom: 5%;
    }

    }
