.mousePadspan {

    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .mouse__Pad {
    display: block;
    font-size: 2.5vh;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0, 0, 0), -5px 0 8px rgb(0, 0, 0);
    padding: 1px 10PX;
    align-content: center;
    margin-bottom: -35px;
  
  }
  