$modo: claro;
$theme-color: transparent;

/* Codigo CSS que ya conocemos*/
@if $modo ==claro {
    $theme-color: navy;
}

@else if $vista ==oscuro {
    /* Codigo CSS que ya conocemos*/
    $theme-color: orange;
}


.sass-2 {
    color: $theme-color;
}


/* bucles - ciclos */

/* for */

@for $i from 1 through 12 {

    .col-#{$i} {
        width: (100% / 12) * $i;
    }
}

/* EACH */

@each $color in blue,
yellow,
black {

    .#{$color} {
        background-color: #{$color};
    }
}

/* MAPAS - MAPAS Nos van a servir para almacenar data con clave y con valor.  */
//$mapa: (
// clave1: valor; 
// clave2: valor; 
// clave3: valor; 
//)
$redes: (
    /*Declaramos nuestro mapa (array asociativo o un objeto */
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #c25e30,
    whatsapp: green,
    otro: white
);

@each $clave,
$valor in $redes {
    .btn-#{$clave} {
        // Generamos una clase de manera dinamica que se repite. //
        background-color: $valor;
    }
}


$estilos: (
    /*Declaramos nuestro mapa (array asociativo o un objeto */
    color: #55acee,
    centro: #3a5795,
    tFuente: #c25e30,
    padding : 1rem
);

div {
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, center);
    padding: map-get($estilos, padding) * 5;
    font-size: map-get($estilos, tFuente);

}

.cristian {

    background-color: map-get($estilos, color);
}

/* EXTEND */

.boton {

    width: 200px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 1px solid black;

    &--aceptar {
        @extend .boton;
        background-color: green;
        color: yellow;
    }

    &--cancelar {
        @extend .boton;
        background-color: red;
        color: yellow;
    }

}

/* MIXIN */
//@mixin nombreMixin($parametro1, $parametro2, N..) {Estilos propios}
@mixin sizes($width, $height) {

    height: $height;
    width: $width;
}

.box {

    @include sizes (300px, 300px);
    background-color: #3a5795
}

.box-medium {
    @include sizes (200px, 200px);
    background-color: #55acee
}

.box-big {
    @include sizes (500px, 500px);
    background-color: #c25e30;
}

@mixin hacerFlex ($direction, $eje-principal, $eje-secundario) {
    display: flex;
    flex-direction: $direction;
    justify-content: $eje-principal; 
    align-items: $eje-secundario; 
}

.premium {

    @include hacerFlex(column, center, center);

}

.ayuda {
@include hacerFlex(row, flex-start, center);
}
 
.spotify {

    @include hacerFlex(row, center, left);
}

